{% extends "loginAdminView.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='generalButton.css') }}">
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Add an Exchange into the system</legend>
      <div class="form-group">
        {{ form.name.label(class = "form-control-label") }} 
        
        {% if form.name.errors %}
            {{ form.name(class = "form-control-lg is-invalid") }}  
                <div class="invalid-feedback">
                    {% for errors in form.name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
        {% else %}
            {{ form.name(class = "form-control-lg") }}    
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.location.label(class = "form-control-label") }} 
        {% if form.location.errors %}
            {{ form.location(class = "form-control-lg is-invalid") }}  
                <div class="invalid-feedback">
                    {% for errors in form.location.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
        {% else %}
            {{ form.location(class = "form-control-lg") }}    
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.number_of_tickers.label(class = "form-control-label") }} 
        {% if form.number_of_tickers.errors %}
            {{ form.number_of_tickers(class = "form-control-lg is-invalid") }}  
                <div class="invalid-feedback">
                    {% for errors in form.number_of_tickers.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
        {% else %}
            {{ form.number_of_tickers(class = "form-control-lg") }}    
        {% endif %}
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class = "btn btn-outline-info") }}
    </div>
    <button type="button" id="backtoAdminButton" class="btn btn-secondary">Back to Admin Page</button>
  </form>
  <script src="{{ url_for('static', filename='usersShow.js') }}"></script>
</div>
{% endblock content %}