{% extends "proView.html" %} 
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pr.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Exo+2:400,700|Open+Sans&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <main class="main-article" role="main">

<p>No news headlines in the database. Please contact the Admin about adding in the headlines.</p>


{% endblock %}