{% extends "proView.html" %} 
{% block content %}
<style>
#stocks {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: white;
}

#stocks td, #stocks th {
  border: 1px solid rgb(221, 221, 221);
  padding: 8px;
}
a{
    color: rgb(42, 24, 209);
}

#stocks tr:nth-child(even){background-color: #db8f5d;}

#stocks tr:hover {background-color: rgb(252, 137, 85);}

#stocks th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3e1870;
  color: white;
}
</style>
<body>

<h1>52 Week Table</h1>

<table id="stocks">
  <tr>
    <th>Business</th>
    <th>High($)</th>
    <th>Low($)</th>
    <th>Predict High/Low($)</th>
  </tr>

    {% for week52 in week52Details1 %}
      <tr>
        {% if loop.index == 1%}
        <td><a href="https://finance.yahoo.com/quote/AAPL/">AAPL</a></td>
        {% endif %}
        {% if loop.index == 2%}
        <td><a href="https://finance.yahoo.com/quote/MSFT/">MSFT</a></td>
        {% endif %}
        {% if loop.index == 3%}
        <td><a href="https://ca.finance.yahoo.com/quote/TD.TO/">TD</a></td>
        {% endif %}
        {% if loop.index == 4%}
        <td><a href="https://finance.yahoo.com/quote/TSLA/">TSLA</a></td>
        {% endif %}
        <td style="background-color:#389244">{{week52[3]}}</td>
        <td style="background-color:#bb5d5d">{{week52[4]}}</td>
        <td style="background-color:#389244">{{week52[5]}}</td>
      </tr>
    {% endfor %}
</table>
</body>
{% endblock %}